.posr {
	position: relative;
	zoom: 1;
}
.fright {
	float: right;
}
.sider{
	float: left;
	margin-right: 35px;
	background: url(../images/slidebg.jpg) no-repeat 0 0 #000000;
	width: 503px;
	min-height: 1750px;
	zoom: 1;
	.sd-con {
		width: 197px;
		min-height: 1000px;
		background: url(../images/slide-bg.png) repeat-y 0 0;
	}
	.logo{

		a{
			display: block;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding-top: 10px;
			background: url(../images/bglogo.png) no-repeat;
			height: 100%;
			img {
				margin: 0 auto;
			}
		}
	}
	.playgame{
		a{
			background: url(../images/down-btn.jpg) no-repeat;	
			display: block;
			width: 100%;
			height: 135px;
			text-indent: -99999px;
		}
	}
	.qucik-mu {
		overflow: hidden;
		li{
			list-style: none;
			float: left;
			margin-bottom: 1px;
			width: 98px;
			height: 66px;
			background: #3a445f;
			border:solid 1px #464c64;
			a{
				display: block;
				width:  100%;
				height: 100%;
				text-align: center;
				text-decoration: none;
				i{
					color: #fff;
					font-size: 35px;
					padding-top: 5px;
				}
				span{
					color: #fff;
					font-size: 15px;
					width: 100%;
					display: block;
				}
				&:hover{
					background: rgba(115,133,182,1);
					background: -moz-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(115,133,182,1)), color-stop(100%, rgba(58,68,95,1)));
					background: -webkit-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -o-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -ms-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: radial-gradient(ellipse at center, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7385b6', endColorstr='#3a445f', GradientType=1 );
				}
			}
		}
		.fist{
			margin-right: 1px;
		}
	}
	.com-mu {
		margin-top: 30px;
		border-top: 1px solid #1B1E24;
		overflow: hidden;
		position: relative;
		li{
			list-style: none;
			width: 100%;
			#comlnk1{
				background-position: 23px 0;
				border-top: 1px solid #2F3441;
				text-decoration: none;
			}
			.comlnk{

				display: block;
				height: 46px;
				border-bottom: 1px solid #2F3441;
				color: #9096a6;
				&:hover,&:active{
					span{
						color:#fff;
					}
					.fa{
						color: #b73420;
					}
				}
				span{
					font-size: 18px;
					text-transform: uppercase;
					display: block;
					width: 130px;
					float: left;
					padding-top: 12px;
					padding-left: 10px;
				}
				.fa{
					font-size: 24px;
					padding-top: 10px;
					padding-left: 5px;
					float: left;
					display: block;
					width: 30px;
				}
			}
		}
	}
	.social-mu{
		margin: 15px 0 0 11px;
		padding: 25px 0 0 30px;
		width: 175px;
		height: 309px;
		background: url(../images/slide-sprite.png) no-repeat -197px 1px;
		li{
			list-style: none;
			float: left;
			width: 55px;
			margin: 0 15px 15px 0;
			text-align: center;
			color: #9198A9;
			line-height: 18px;
			a{
				display: block;
				width: 100%;
				background: #3a445f;
				i{
					color: #fff;
					font-size: 35px;
					text-align: center;
					padding: 10px;
				}

			&:hover{
				
					background: rgba(115,133,182,1);
					background: -moz-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(115,133,182,1)), color-stop(100%, rgba(58,68,95,1)));
					background: -webkit-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -o-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: -ms-radial-gradient(center, ellipse cover, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					background: radial-gradient(ellipse at center, rgba(115,133,182,1) 0%, rgba(58,68,95,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7385b6', endColorstr='#3a445f', GradientType=1 );
				
				
			}
			}
		}
	}
	.suport{
		margin-left: 11px;
    width: 174px;
    height: 325px;
    background: url(../images/slide-sprite.png) no-repeat -417px 0;
    color: #9198A9;
	}
}


/*responsive*/
@media screen and (max-width: 1600px){
	.sider {
		width: 197px;
	}
}
