#mod-footer{
	.container{
		padding-left:15px;
		padding-right:15px;
		
		.newlaster{
			margin-left: 0;
			margin-right: 0;
			.col-lg-4{
				padding:0;
			}
			.col-lg-8{
				padding-right:0;
			}
			border-bottom:solid 1px #d9d9d9;
			padding-bottom:30px;
			h2{

			margin: 0;
			padding:0;
			color: #444444;
			font-size: 20px;
			margin-top: 15px;
			
			}
			.submit{
				padding-left:0;
				padding-right:0;
				a{
				// width: 111px;
				border:none;
				text-decoration: none;
				border-radius: 0;
				padding:0;
				display: block;
				background: #db3838;
				text-align:center;
				font-size: 15px;
				color: #fff;
				padding-top:19px;
				padding-bottom:19px;

			}
			padding-left:0;
			}
			
			.send {
				height: 59px;
				background: #e8e8e8;
				border:none;
				padding-right:0;
				padding-top:4px;
				padding-bottom:4px;
				// width: 342px;
				input {
					width: 80%;
					background: #e8e8e8;
					height: 50px;
					border:none;

				}
			}

		}		
		p{
			text-align: left;
			text-transform: uppercase;
			// padding:30px;
			margin:0;
		}

		.copyright
		 {
				
			 p{
			 	margin-top: 50px;
			 	border-top: solid 1px #d9d9d9;
			 	display: block;
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	  }
	  .menufooter {
	  	margin-top: 20px;
	  	h2{
	  		font-size: 15px;
	  		padding: 0;
	  		margin: 0;
	  		color: #444444;
	  		text-transform: uppercase;
	  		padding-bottom: 30px;
	  	}
	  	ul {
	  		li{
	  			float: none;
	  			i {
	  				padding-right: 5px;
	  				color: #3a3a3a;
	  			}
	  			a{
	  				color: #444444;
	  				text-decoration: none;
	  			}
	  			a:hover,a:active,a:focus{
	  				text-decoration: none;
	  			}
	  		}
	  	}
	  	span{
	  		display: block;
	  		width: 100%;
	  		i{
	  			
	  			float: left;
	  			width: 30px;
	  		}
	  		p{
	  		font-size: 13px;
	  		font-family: Tahoma;
	  		color: #444;
	  		text-transform: capitalize;
	  		display: block;
	  		float: left;
	  		width: 300px;
	  		}
	  	}
	  	
	  }
	}
}