.navbar-home{
	border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
	.container-fluid{
		padding: 0;
		margin: 0;
		#menu-home{
			ul{
				margin: 0 auto;
				width: 200px;
				float: none;
			}
		}
	}
}
.box-header {
	.box-primary-nav-trigger{
		display: block;
    	right: 25px;
   		 top: 10px;
		position: absolute;
		i{
			font-size: 35px;

		}
	}
}