footer{
	min-height: 145px;
	width: 100%;
	background: #161920;
	.footer{
		padding-top: 30px;
		overflow: hidden;
		width: 1024px;
		margin: 0 auto;
		.logo-box{
			float: left;
			/*margin-right: 40px;*/
			/*margin-top: 10px;*/
			/*width: 274px;*/
			text-align: center;
			border-right: 1px solid #404040;
			img{
				float: left;
				width: 120px;
				height: 85px;
				padding: 5px;
			}
		}
		.description{
			float: left;
			p{
				color: #414757;
				padding: 0;
				margin:0;
				padding: 10px;
				font-size: 18px;
			}
		}
	}
}